        
 @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');



:root {
--transition: 0.3s ease-in-out;}
       

.logo {
    font-family: "Syne", sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #666666;
    text-decoration: none;
    transition: var(--transition);
}


#main-header {
  transition: all 0.3s ease;
}

#main-header.scrolled {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color: rgba(255, 255, 255, 0.95) !important;
  box-shadow: 0 5px 20px rgba(0, 0,0, 0.05);
}

.nav-items{
  display: flex;
text-transform: uppercase;
gap: 40px;
list-style: none;

         }

         



        .nav-link {
            color: #666666;
            text-decoration: none;
           font-size: 14px;
            font-family: 'Syne', sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: relative;
        }




        .nav-link::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background-color: #666666;
          transition: 0.3s ease-in-out;
          
          
        }
        .nav-link:hover {
          color: black;
        }

        .nav-link:hover::after {
          width: 100%;
          background-color: black;
        }
    

  
    .navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }


    .navbar-toggler-icon {
    width: 25px;
    height: 3px;
    background-color: white;
    display: block;
    position: relative;
  }
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: "";
    width: 25px;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
  }
  .navbar-toggler-icon::before {
    top: -8px;
  }
  .navbar-toggler-icon::after {
    top: 8px;
  }

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}



.navbar-toggler-icon {
  width: 30px;
  height: 30px;
  transition: 0.3;
}



        

    .section {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

        .container{
          width: 90%;
          max-width: 1400px;
          margin:0 auto;
        }



        .section-content.active {
       opacity: 1;
        transform: translateY(0);
}
     .section-content {
    width: 100%;
    animation: fadeInUp 0.5s ease-in-out;
    position: relative;
    z-index: 2;
}

        .section-title {
        transition: all 0.3s ease-in-out, opacity 0.3s, transform 0.3s;
        }
        @keyframes fadeInUp {
          0% {
            opacity: 0;
            transform: translateY(50px);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }

    .card-title {
    font-size: 120px;
    font-weight:bold;
    line-height: 0.9;
    max-width: 1000px;
    margin-bottom: 30px;
    font-family: "Syne", sans-serif;

}

        .card-subtitle {
            font-size: 20px;
            max-width: 600px;
            margin-bottom: 50px;
            color:#666666;
        }

        .hero-cta {
          display: inline-block;
          padding: 14px 30px;
          border: 1px solid black;
          color: #000; 
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 1px;
          position: relative;
          transition: 0.3s ease-in-out; 
          transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

        }

        .hero-cta::before {
          content: "";
          position: absolute;
          top: 0;
          color: white;
          left: 0;
          width: 0;
          height: 100%;
          background-color: #000; 
          transition: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);   
        z-index: -1;
        }

        .hero-cta:hover::before {
          width:100%;
        }

        .hero-cta:hover {
          color: #fff;
        }



        /* css cube section start here */
        .cube-container {
            position: absolute;
            top: 0;
            right: 0;
            width: 70%;
            height: 100%;
            z-index: 1;
            pointer-events: none;
        }


        .cube-1 {
            top: 25%;
            right: 25%;
            width: 300px;
            height: 300px;
            animation: rotateCube1 10s infinite linear;
        }
        .cube {
          position: absolute;
          transform-style: preserve-3d;
          transform-origin: center;
        }

        .cube-1 .cube-face {
          background-color: rgba(255, 255, 255, 0.1);
          border-color: rgba(0, 0, 0, 0.3);
        }


        .cube-face {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.1);
          border: 1px solid rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 20px rgb(0 0 0 / 5%);
          backface-visibility: visible;
        }

        .cube-2 {
            top: 45%;
            right: 15%;
            width: 200px;
            height: 200px;
            animation: rotateCube2 10s infinite linear;
        }
        .cube {
            position: absolute;
            transform-style: preserve-3d;
            transform-origin: center;
        }

        .cube-2 .cube-face {
          background-color: rgba(255, 255, 255, 0.1);
          border-color: rgba(0, 0, 0, 0.3);
        }

        .cube-3 {
            top: 70%;
            right: 35%;
            width: 150px;
            height: 150px;
            animation: rotateCube3 25s infinite linear;
        }
        .cube {
            position: absolute;
            transform-style: preserve-3d;
            transform-origin: center;
        }

        .cube-3 .cube-face {
          background-color: rgba(0, 0, 0, 0.1);
          border-color: rgba(0, 0, 0, 0.3);
        }

        @keyframes rotateCube1 {
          0% {
            transform: rotateX(0deg) rotateY(0deg);
          }
          100% {
            transform: rotateX(360deg) rotateY(360deg);
          }
        }

        @keyframes rotateCube2 {
          0% {
            transform: rotateX(0deg) rotateY(0deg);
          }
          100% {
            transform: rotateX(-360deg) rotateY(360deg);
          }
        }

        @keyframes rotateCube3 {
          0% {
            transform: rotateX(0deg) rotateY(0deg);
          }
          100% {
            transform: rotateX(360deg) rotateY(360deg);
          }
        }




        .scroll-indicator {
          position: absolute;
          bottom: 40px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 14px;
          opacity: 0.7;
          transition: var(--transition);
        }
        .scroll-indicator p {
          margin-bottom: 5px; /* Reduced margin to bring the icon closer */
        }

        .scroll-indicator i {
          animation: bounce 2s infinite;
        }

        @keyframes bounce {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(10px);
          }
          100% {
            transform: translateY(0);
          }
        }


        .fa-solid, .fas {
          font-weight: 900;
        }

        .fa-chevron-down:before {
          content: "\f078";
        }

       /* work section */
        .work {
            padding: 150px 0;
        }






        .container {
            width: 90%;
            max-width: 1400px;
            margin: 0 auto;
        }

        .section-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 80px;
        }

        .section-title.active {
            opacity: 1;
            transform: translateY(0);
        }

        .section-title {
            font-size: 80px;
            opacity: 0;
            transform: translateY(30px);
            margin-bottom: 0;
        }


        .section-title.active + .view-all-link, .section-header.active .view-all-link {
            opacity: 1;
            transform: translateY(0);
        }



        .view-all-link {
          font-size: 18px;
          color: rgba(113, 109, 109, 0.955);
          text-decoration: none;
          font-weight: 500;
          position: relative;
        }

        .view-all-link::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0;
          height: 1px;
          background-color: gray;
          transition: 0.3s ease-in-out;
        }

        .view-all-link:hover::after {
          width: 100%;
          color: #000;
        }





        .project-grid {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 2rem;
            margin-top: 4rem;
        }

        .project.large {
            grid-column: span 8;
        }
        .project {
            background-color: #1a1a1a;
            height: 60vh;
            position: relative;
            overflow: hidden;
            cursor: pointer;
        }

        .project:hover .project-contents{
          opacity: 1;
          transform: translateY(0);
        }
        .project.small {
            grid-column: span 4;
        }


        .project.small {
            grid-column: span 4;
        }

        .project.large {
            grid-column: span 8;
        }





        .project-content {
          transition: transform 0.5s, color 0.5s;
          color: transparent;
          transform: scale(0.5);
          font-family: "Syne", sans-serif;

        }

        .project:hover .project-image {
          transform: scale(1.1);
        }

        .project:hover .project-content {
          transform: scale(1);
          color: white;
        }

        .project-image {
          transition: filter 0.5s;
          width: 100%;
          height: 100%;
          filter: grayscale(100%);
        }

        .project:hover .project-image {
          filter: none;
        }


        .project-image {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            filter: grayscale(100%);
            transition: transform 0.5s, opacity 0.5s;
            transform: scale(1.03);
            opacity: 0.7;
            background-repeat: no-repeat;
        }
        .second-project-bg-1 {
          background: url(/image/banner1.png) center/cover no-repeat;}


        .second-project-bg-2 {
            background: url(image/yanna-banner.png) center/cover no-repeat;
        }


        .project-content {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 2rem;
            z-index: 1;
            opacity: 0;
            color: #ffffff;
            transform: translateY(20px);
            transition: opacity 0.3s, transform 0.3s;
        }


        .project:hover .project-content {
          opacity: 1;
          transform: translateY(0);
        }



        .project-title {
            font-size: 1.8rem;
            margin-bottom: 0.5rem;
            font-weight: 700;
        }

        .project-category {
            font-size: 1rem;
            font-weight: 400;
            color: #fff;
        }

        .second-project-bg-3 {
            background: url(/image/event.png) center/cover no-repeat;
        }

        .second-project-bg-4{
          background: url(/image/banner1.png) center/cover no-repeat;}



          

          /* about-secion */


          .about-section{
            background-color: rgba(100, 100, 100, 0.086);
            padding: 150px 0;
          }


          .about-content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 100px;
            align-items: center;

          }

          .about-text.active {
            opacity: 1;
            transform: translateX(0);
        }

        .about-text {
            opacity: 0;
            transform: translateX(-50px);
            transition: var(--transition);
        }
        .about-title {
          font-size: 60px;
          margin-bottom: 40px;
          line-height: 1.1;
          font-family: "Syne", sans-serif;
        }




        .about-description {
            font-size: 18px;
            margin-bottom: 30px;
            color: gray;
        }

        .about-skill {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            margin-top: 30px;
          
        }

        .about-image.active {
            opacity: 1;
            transform: translateX(0);
        }


        .about-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.8;
            filter: grayscale(100%);
            border-radius: 0;
        }


        /* about section */

        .skill-tag {
          display: inline-block;
          padding:7px 17px;
          border: 1px solid #bbb;
          font-size: 14px;
          background-color: #fff; 
          color: #000; 
          transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
          font-family: "Syne", sans-serif;

        }

        .skill-tag:hover {
          background-color: #000;
          color: #fff;
        }

        /* .stats-section */

        .stats-section{
          padding: 100px;
        }

        .stats-grid{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 40px;
        }

        .stat-item .active{
          opacity: 1;
          transform: translateY(0);
        }

        .stat-item {
          text-align: center;
          transition: all 0.3s ease-in-out;
        }

        .stat-number{
          font-size: 70px;
          font-weight: 800;
          margin-bottom: 10px;
          font-family: Syne, sans-serif;

        }

        .stat-label{
          font-size: 16px;
          color: #676464;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-family: "Syne", sans-serif;

        }

        /* contact.............. */

        .contact-section{
            padding: 150px 0;
            background-color: black;
            color: white;
        }


        .contact-title.active {
            opacity: 1;
            transform: translateY(0);
        }

        .contact-title {
            font-size: 80px;
            margin-bottom: 30px;
            transition: var(--transition);
        }


        .contact-subtitle.active {
            opacity: 1;
            transform: translateY(0);
        }
        .contact-subtitle {
            font-size: 24px;
            max-width: 700px;
            margin-bottom: 60px;
            transition: var(--transition);
            transition-delay: 0.2s;
        }


        .contact-form {
            /* max-width: 800px; */
            margin: 0 auto;
        }


        .form-group.active {
            opacity: 1;
            transform: translateY(0);
        }

        .form-group {
            margin-bottom: 30px;
            transition: var(--transition);
        }


        .form-label {
            display: block;
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: 500;
        }



        .form-control {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 15px 0;
        color:black;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
        }



        .submit-btn {
            display: inline-block;
            padding: 14px 40px;
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.3) ;
            color: white;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            margin-top: 20px;
        }


        .p-2 {
            padding: 2rem;
        }

/* footer section */
        .footer{
          padding: 50px 0;
        }


        .footer-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .copyright {
            font-size: 14px;
            color: rgb(85, 79, 79);
        } 

        .social-links {
            display: flex;
            gap: 20px;
        }


        .fa-brands, .fab {
            font-weight: 400;
        }

        .fa-brands, .fab {
            font-family: "Font Awesome 6 Brands";
        }

        .social-link {
            text-decoration: none;
            font-size: 18px;
            color: rgb(85, 79, 79);
        }


        @media (max-width: 1024px) {
  .card-title {
    font-size: 60px;
  }

  .section-title {
    font-size: 50px;
  }

  .about-title {
    font-size: 40px;
  }

  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {

  .about-content {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .section-title {
    font-size: 40px;
  }
  .project-grid {
    grid-template-columns: 1fr;
  }

  .project.large,
  .project.small {
    grid-column: span 12;
    height: 300px;
  }

  .stats-grid {
    grid-template-columns: 1fr;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
    gap:20px;}
}


/* Mobile View */
/* cube-container */
@media (max-width: 992px) {
  .cube-container {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .cube-container {
    opacity: 0.5;
  }
}

@media (max-width: 576px) {
  .cube-container {
    width: 100%;
    opacity: 0.3;
  }
}


/* ......................mobile view */



@media (max-width: 1200px) {
  .cube-1 {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 576px) {
  .cube-1 {
    right: 10%;
  }
}


/* .cube-2 */


@media (max-width: 1200px) {
  .cube-2 {
    width: 80px;
    height: 80px;
    right: 30%; 
  }
}

@media (max-width: 576px) {
  .cube-2 {
    right: 40%;
    top: 20%; 
}
}

/* .cube-3 */

@media (max-width: 1200px) {
  .cube-3 {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  .cube-3 {
    right: 20%;
  }
}


@media (max-width: 992px) {
  #navbarScroll {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: all 0.5s ease;
    z-index: 100;
  }

  #navbarScroll.show {
    right: 0;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .nav-link {
    width: 100%;
    text-align: center;
  }
}


@media (max-width: 576px) {
    .page-title {
        font-size: 32px;
    }
}



  @media (max-width: 768px) {
    .nav-items.show {
      transform: translateX(0);
    }

    .navbar-toggler {
      display: block;
      position: fixed;
      top: 15px;
      right: 15px;
      z-index: 1100; /* Above the nav */
    }
  }

/* work section */



.project.large {
  grid-column: span 8;
}

@media (max-width: 1200px) {
  .project {
    height: 50vh;
  }
}

@media (max-width: 992px) {
  .project.large {
    grid-column: span 6;
  }
  .project {
    height: 45vh;
  }
}

@media (max-width: 768px) {
  .project.large,
  .project.small {
    grid-column: span 12;
  }
  .project {
    height: 40vh;
  }
}


